In [2]:
import numpy as np
import csv
import pandas as pd
from  matplotlib import pyplot as plt

In [3]:
def read_csv(filename):
    x1 = []
    x2 = []
    x3 = []
    x4 = []
    y1 = []
    y2 = []
    with open(filename) as f:
        reader = csv.reader(f)
        next(reader)
        for row in reader:
           # x.append((row))
            x1.append(float(row[0]))
            x2.append(float(row[1]))
            x3.append(float(row[2]))
            x4.append(float(row[3]))
            y1.append(float(row[4]))
            y2.append(float(row[5]))
        return x1,x2,x3,x4,y1,y2
if __name__ == '__main__':
    x1,x2,x3,x4,y1,y2 = read_csv('multivariate.csv')

['55', '600']
['64', '640']
['56', '554']
['90', '800']
['78', '648']
['98', '899']
['35', '335']
['94', '700']
['62', '656']
['12', '955']
['84', '585']
['19', '26']
['21', '87']
['97', '64']
['65', '1000']

In [4]:
df = pd.read_csv('d.csv')
df

    balls  runs  avg
0      55   600   30
1      64   640   32
2      56   554   33
3      90   800   40
4      78   648   39
5      98   899   45
6      35   335   28
7      94   700   35
8      62   656   56
9      12   955   15
10     84   585   64
11     19    26   64
12     21    87   34
13     97    64   32
14     65  1000   65

In [6]:
balls = []
runs = []
avg = []
balls = np.array(balls)
print(balls)

[]